.BubbleGraphContainer-sequence-container {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #82aaf1;
  z-index: 0;
}

.BubbleGraphContainer-container {
  height: 100vh;
  background-color: #82aaf1;
  padding: 25px;
}

.BubbleGraphContainer-header-text {
  font-family: 'Cormorant', serif;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.BubbleGraphContainer-header-text-change {
  font-family: 'Cormorant', serif;
  margin-bottom: 0;
  font-size: 2rem;
  height: 2rem;
}

.BubbleGraphContainer-header-container {
  height: 15%;
}

.BubbleGraphContainer-container .VictoryContainer {
  top: -40px;
}

.BubbleGraphContainer-sticky {
  position: sticky;
  top: 0px;
}

.BubbleGraphContainer-sticky:before,
.BubbleGraphContainer-sticky:after {
  content: '';
  display: table;
}

.BubbleGraphContainer-waypoint-buffer {
  height: 150vh;
  z-index: 10;
}

.bg-header-2 {
  width: 600px;
  font-size: 2.2rem;
  color: #111;
  opacity: 0.9;
  font-family: 'Cormorant', serif;
  padding-left: 75px;
  border-radius: 5px;
  margin-bottom: 50vh;
  will-change: transform;
}

.bg-text-2 {
  width: 600px;
  color: #111;
  opacity: 0.9;
  font-family: 'Lora', serif;
  padding-left: 75px;
  border-radius: 5px;
  line-height: 1.6em;
  font-size: 20px;
  margin-bottom: 35vh;
}

.bg-text-2-last {
  width: 600px;
  color: #111;
  opacity: 0.9;
  font-family: 'Lora', serif;
  padding-left: 75px;
  border-radius: 5px;
  line-height: 1.6em;
  font-size: 20px;
  padding-bottom: 50vh;
}

.hide-text {
  opacity: 0;
}

.fadeOut {
  opacity: 0;
  animation: fadeout 1s linear;
}

.fadeIn {
  opacity: 1;
  animation: fadein 1s linear;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 650px) {
  .bg-text {
    width: 90vw;
  }
}

.temp {
  width: 10px;
  height: 10px;
  background-color: red;
  opacity: 0.9;
}
