.BubbleGraphContainer-sequence-container {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #ffe6cc;
  z-index: 0;
}

.BubbleGraphContainer-container {
  height: 100vh;
  background-color: #ffe6cc;
}

.BubbleGraphContainer-align-center {
  height: 100%;
  display: flex;
  align-items: center;
}

.BubbleGraphContainer-header-text {
  font-family: 'Cormorant', serif;
  margin-bottom: 0;
  font-size: 2rem;
}

.BubbleGraphContainer-header-text-change {
  font-family: 'Cormorant', serif;
  margin-bottom: 0;
  font-size: 2rem;
  height: 2rem;
  line-height: 1.5;
}

.BubbleGraphContainer-header-container .VictoryContainer {
  height: auto !important;
  padding-top: 15px;
}

.BubbleGraphContainer-container .VictoryContainer {
  top: -15px;
}

.BubbleGraphContainer-sticky {
  position: sticky;
  top: 0px;
}

.BubbleGraphContainer-sticky:before,
.BubbleGraphContainer-sticky:after {
  content: '';
  display: table;
}

.BubbleGraphContainer-waypoint-buffer {
  height: 150vh;
  z-index: 10;
}

.introtext-1 {
  width: 600px;
  font-size: 2.2rem;
  color: #111;
  opacity: 0.9;
  font-family: 'Cormorant', serif;
  padding-left: 75px;
  border-radius: 5px;
  margin-bottom: 50vh;
  line-height: 1.5;
}

.text-1 {
  width: 600px;
  color: #111;
  opacity: 0.9;
  font-family: 'Lora', serif;
  padding-left: 75px;
  border-radius: 5px;
  line-height: 1.6;
  font-size: 20px;
  margin-bottom: 35vh;
}

.text-1-last {
  width: 600px;
  color: #111;
  opacity: 0.9;
  font-family: 'Lora', serif;
  padding-left: 75px;
  border-radius: 5px;
  line-height: 1.6;
  font-size: 20px;
  padding-bottom: 50vh;
  margin-bottom: 0;
}

.hide-text {
  opacity: 0;
}

.fadeOut {
  opacity: 0;
  animation: fadeout 1s linear;
}

.fadeIn {
  opacity: 1;
  animation: fadein 1s linear;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .introtext-1 {
    width: 45% !important;
    padding-left: 50px !important;
  }
  .text-1,
  .text-1-last {
    width: 45% !important;
    padding-left: 50px !important;
  }
}
