.RotatePhone-container {
  width: 100vw;
  height: 100vh;
  background-color: gainsboro;
}

.RotatePhone-img-container {
  position: absolute;
  top: 25%;
  transform: translateY(-25%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.RotatePhone-header {
  font-family: 'Cormorant', serif;
  font-size: 2.4rem;
  color: #111;
  position: absolute;
  top: 52.5%;
  transform: translateY(-52.5%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.RotatePhone-subheader {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  color: #111;
  position: absolute;
  top: 80%;
  transform: translateY(-70%);
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 481px) {
  .RotatePhone-container {
    display: none;
  }
}
