/* Initial reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

:root {
  font-size: 15px;
}

/* BEGIN Define base theme */

section {
  min-height: 100px;
  width: 100%;
  /* padding: 5rem 0; */
}

h1 {
  font-size: 1.5rem;
  margin: 20px;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  line-height: 70px;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}

img{
  width: 100%;
}

figure.framed-image {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  padding-bottom: 10px;
  box-shadow: inset 0 0 10px, 0 15px 20px -10px rgba(0,0,0,0.9);
}

figure.framed-image.medium-frame {
  border: 5px solid black;

}

figure.framed-image.thick-frame {
  border: 10px solid black;
}

figure.framed-image figcaption {
  margin: 5px 0;
  font-size: 12px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.text-block {
  max-width: 700px;
  width: 100%;
  /* Since the layout usually is centered, we'll leave that as default */
  margin: 3rem auto;
}

h2 + .text-block {
  margin-top: 0;
}

.column {
  float: left;
  width: 50%;
}

footer {
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  /* TODO: Change once we have mq */
  max-width: 800px;
  width: 85%;
  margin: 0 auto;

  /* 
  The following three lines are what causes every direct child of a .row to be centered.
  This is not the only way, and alternate approaches may be preferred if more grid-like layouts are moved towards.
   */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Dark Theme */

/* Keep this separate from the section in case
we want to apply dark to a child element directly */
.theme--dark {
  background: #111;
}

section.theme--dark, footer.theme--dark {
  background: linear-gradient(120deg, rgb(43, 46, 49), rgb(26, 28, 31), rgb(73, 74, 75));
}

.theme--dark h1, 
.theme--dark h2, 
.theme--dark h3, 
.theme--dark h4, 
.theme--dark p {
  color: whitesmoke;
  opacity: 0.85;
}

.theme--dark a {
  color: #007bff;
}

/* Light Theme */
.theme--light {
  background: white;
}
/* 
section.theme--light, footer.theme--light {
  background: linear-gradient(120deg, #000, #000, #333);
} */

.theme--light h1, 
.theme--light h2, 
.theme--light h3, 
.theme--light h4, 
.theme--light p {
  color: #111;
}

/* Dot navigation */
.sidebar {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 100vh;
  position: fixed;
  right: 0;
}


.sidebar .navigation-dot {
  display: block;
  margin: 8px 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid black;
}

.navigation-dot.active {
  background: black;
}


/* This is a very light mobile friendly resize to adjust all the rem relative sizes down a bit at mobile. */
@media screen and (max-width: 800px){
  :root {
    font-size: 14px;
  }

  .sidebar {
    width: 10vw;
  }
}

/* Per section overrides */

#section-0 {
  /* The min height is to avoid an automatic scrollTop when the hero loads */
  min-height: 100vh;
  padding: 0;
  position: relative;
}

#section-0 .hero {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  box-shadow: inset 0 0 100vw rgba(0,0,0,0.9);
}


.title-card__container-outer {
  position: relative;
  max-width: 750px;
  width: 85%;
  margin: 0 auto;
  transform: translateY(-85vh);
  padding: 30px;
  border: 4px solid black;
  background: #ffffffe6;
}

.title-card__container-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, rgb(45, 45, 45), rgb(13, 13, 13), rgb(45, 45, 45));
  color: white;
  padding: 25px;
  height: 100%;
}

.title-card__container-inner h2 {
  margin: 0;
  font-size: 2rem;
  line-height: 40px;
}

.title-card__container-inner p {
  margin-top: 20px;
  margin-bottom: 0;
  width: 85%;
  text-align: center;
}


@media screen and (min-width: 650px){
  img {
    width: 450px;
  }

  .title-card__container-outer {
    transform: translateY(-75vh);
    padding: 40px;  
  }

  .title-card__container-inner {
    padding: 50px;
    height: auto;
  }


  .title-card__container-inner h2 {
    font-size: 2.5rem;
    line-height: inherit;
  }

  .title-card__container-inner p {
    width: 65%;
  }

}

#section-2 .data-wrapper__container {
  border: 1px solid #888;
  box-shadow: 0 0 10px #999;
  padding: 25px;
}

#section-2 .data-wrapper__container p:last-child {
  margin-bottom: 0;
}

#section-4 {
  padding-top: 0;
}

section#section-5 {
  padding: 5rem 0;
}

 
#section-6 {
  padding-bottom:  5rem;
}

.section-6-background-image{
  position: absolute;
  z-index: -1;   
  width: 100%;
  height: 100%;
  background-image: url("pics/collage2_1_2mb.jpg");
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 800px){
  #section-7 figure img {
    width: 75vw;
  }
}

/* Chart specific styles */

.eap_bar_chart__container {
  border: 1px solid #888;
  background: white;
  box-shadow: 0 0 10px #999;
  padding: 4% 0 0 0;
  max-width: 100%;
}

p.eap_bar_chart__caption {
  padding: 20px;
  font-size: 1rem;
  font-style: italic;
  margin: 0;
  line-height: initial;
}

#section-3 .eap_bar_chart__container {
  margin-bottom: 5rem;
}

.eap_bar_chart__controls {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

#eap_bar_chart__slider {
  flex: 1 1 90%;
  display: block;
}


#eap_bar_chart__button--play {
  flex: 1 0 90px;
  display: block;
  background: #a1c5e9;
  color: white;
  border: none;
  width: 90px;
  padding: 10px 18px;
  margin-right: 3%;
  font-size: 20px;
  border-radius: 6px;
}
#eap_bar_chart__button--play:hover, #eap_bar_chart__button--play:focus {
  background: #88c1fa;
}

#eap_bar_chart__button--play:active {
  background: rgb(218, 237, 251);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.85px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #a1c5e9;
  border-radius: 22.4px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.4px solid #000000;
  height: 23px;
  width: 23px;
  border-radius: 50px;
  background: #eda84d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.85px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a1c5e9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #a1c5e9;
  border-radius: 22.4px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.4px solid #000000;
  height: 23px;
  width: 23px;
  border-radius: 50px;
  background: #eda84d;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #a1c5e9;
  border: 0px solid #000000;
  border-radius: 44.8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #a1c5e9;
  border: 0px solid #000000;
  border-radius: 44.8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.4px solid #000000;
  height: 23px;
  width: 23px;
  border-radius: 50px;
  background: #eda84d;
  cursor: pointer;
  height: 7.3px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #a1c5e9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #a1c5e9;
}

.poverty-map__container {
  background: #b7d9ff;
  border-left: 5px solid #b7d9ff;
  border-right: 5px solid #b7d9ff;
  border-bottom: 3px solid #b7d9ff;
  max-width: 100%;
}

#choropleth_poverty_chart {
  margin: 0;
  padding: 0;
}


p.poverty-map__title {
  margin: 0;
  line-height: initial;
  padding: 10px;
  font-size: 1.5rem;
  color: rgb(11, 11, 11);
}

p.poverty-map__caption {
  margin: 0;
  line-height: initial;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  font-style: italic;
}

.poverty-map__nav {
  width: 100%;
  display: flex;
  background: #b7d9ff;
  color: #404040;
}

#choropleth_country_selector {
  display: inline-block;
  margin: auto 5px;
  width: 120px;
  height: 40px;
  font-size: 10px;
}

#choropleth_poverty_selector {
  display: inline-flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

#choropleth_poverty_selector input {
  display: none;
}

#choropleth_poverty_selector label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  padding: 5px 0;
  font-size: 12px;
  width: 33%;
}


#choropleth_poverty_selector label:hover {
  background: rgba(0,0,0, 0.1);
}

#choropleth_poverty_selector input:checked+label {
  font-weight: bolder;
  background: rgba(255,255,255, 0.5);
}

.poverty-map__tooltip {
  position: absolute;
  background: rgba(255,255,255, 0.85);
}

.poverty-map__tooltip.hidden {
  visibility: hidden;
}

.poverty-map__tooltip > * {
  padding: 0 10px;
}

.poverty-map__tooltip > *:first-child {
  padding-top: 5px;
}

.poverty-map__tooltip > *:last-child {
  padding-bottom: 5px;
}

.poverty-map__tooltip p {
  margin: 0;
  font-size: 16px;
}

.poverty-map__tooltip p.region-name {
  padding-bottom: 2px;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 17px;
  background: #a1c5e980;
}

.poverty-map__legend-bar text {
  fill: white;
  cursor: default;
  user-select: none;
  font-size: .8rem;
}

@media screen and (min-width: 450px){
  #choropleth_country_selector {
    font-size: 1.1rem;
    width: 160px;
  }
}

@media screen and (min-width: 600px){
  #choropleth_country_selector {
    height: inherit;
  }

  #choropleth_poverty_selector {
    flex-wrap: nowrap;
  }

  #choropleth_poverty_selector label {
    height: 100%;
    flex: 1;
  }

  #choropleth_poverty_selector label:not(:last-of-type) {
    border-right: 1px solid rgba(0,0,0,0.1);
  }
  
}

@media screen and (min-width: 700px){
  #choropleth_country_selector {
    margin-right: 30px;
  }

  #choropleth_poverty_selector label {
    font-size: 1rem;
  }
}