.BarGraph-sequence-container {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: lightgrey;
}

.BarGraph-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: lightgrey;
}

.BarGraph-container .VictoryContainer {
  width: 75% !important;
  height: 75% !important;
  margin: 0 auto;
}

.BarGraph-sticky {
  position: sticky;
  top: 0px;
}

.BarGraph-sticky:before,
.BarGraph-sticky:after {
  content: '';
  display: table;
}

.BarGraph-waypoint-buffer {
  height: 150vh;
  background-color: grelightgrey;
}
