.StackedAreaLegend-item {
  display: inline-block;
  margin: 0 10px;
}

.StackedAreaLegend-item-text {
  font-size: 14px;
  font-family: 'Lora', serif;
}


@media only screen and (max-width: 800px) {
  .StackedAreaLegend-item-text {
    font-size: 12px;
  }
}

