.ChoroplethV2Fiji-container {
  height: 14.5%;
  width: 6.9%;
  display: flex;
  align-items: center;
  background-color: #606060;
  text-align: center;
  position: relative;
  right: 30%;
  top: -25%;
  transform: translateX(30%) translateY(-25%);
}

.ChoroplethV2Fiji-container svg {
  height: 100%;
  background-color: #606060;
  display: block;
  margin: 0 auto;
}

path.sub-nation {
  transition: fill 0.4s ease;
}
