.ChoroplethV2Mongolia-container {
  height: 14vw;
  width: 23vw;
  display: flex;
  align-items: center;
  /* background-color: #606060; */
  background-color: #a8a8a8;
  text-align: center;
  position: absolute;
  right: 30%;
  top: 5%;
  transform: translateX(35%) translateY(5%);
  border: 1px solid lightgrey;
}

.ChoroplethV2Mongolia-svg {
  height: 100%;
  /* background-color: #606060; */
  background-color: #a8a8a8;
  display: block;
  margin: 0 auto;
}

path.sub-nation {
  transition: fill 0.4s ease;
}

.ChoroplethV2Mongolia-waypoint-buffer {
  height: 120vh;
  /* background-color: #606060; */
  background-color: #a8a8a8;
}

.ChoroplethV2Mongolia-span {
  width: 100%;
  position: absolute;
  z-index: 100;
  height: 7.69%;
  bottom: 8.5%;
  color: whitesmoke;
  font-weight: 500;
  letter-spacing: 0.25px;
  font-size: 2vmin;
  line-height: 1.5;
}

@media only screen and (max-width: 720px) {
  .ChoroplethV2Mongolia-container {
    top: 13%;
  }
}