.ChoroplethV2Mongolia-container {
  height: 180px;
  width: 325px;
  display: flex;
  align-items: center;
  background-color: #606060;
  text-align: center;
  position: relative;
  right: 10%;
  top: -20%;
  transform: translateX(10%) translateY(-20%);
}

.ChoroplethV2Mongolia-container svg {
  height: 100%;
  background-color: #606060;
  display: block;
  margin: 0 auto;
}

path.sub-nation {
  transition: fill 0.4s ease;
}

.ChoroplethV2Mongolia-waypoint-buffer {
  height: 120vh;
  background-color: #606060;
}
