.HeaderV2-container,
.full-height-div {
  position: relative;
}

.left-image-container,
.middle-image-container,
.right-image-container {
  background-size: 100% 100%;
}

.full-height-div {
  position: sticky;
  top: 0;
  right: 0;
}

.HeaderV2-image-container {
  /*background-image: url('../../images/pedestrians-400811_1920_2.jpg');*/
  background-image: url('../../images/img1.jpeg');
  background-size: 100% 100%;
  z-index: -999;
  height: 100vh;
  width: 100vw;
}

.HeaderV2-bg-overlay {
  width: 100%;
  height: 100%;
  background: #111;
  position: absolute;
  top: 0;
}

.HeaderV2-intro-slide {
  padding: 60vh 0 0;
}

.HeaderV2-title-container {
  position: relative;
  bottom: 115vh;
  left: 0;
  right: 0;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  border-radius: 15px;
}

.HeaderV2-title {
  font-size: 48px;
  text-shadow: 2px 2px 8px #0f0f0f;
  font-family: 'Cormorant', serif;
  color: ghostwhite;
  margin-bottom: 0;
}

.HeaderV2-title:after {
  display: block;
  content: '';
  width: 100px;
  height: 1px;
  margin: 20px auto 15px;
  background: rgba(255, 255, 255, 0.5);
}

.HeaderV2-subtitle {
  font-size: 21px;
  font-family: 'Lora', serif;
  color: gainsboro;
  width: 80%;
  margin: 0 auto 25px;
}

.byline {
  font-size: 15px;
  font-family: 'Lora', serif;
  color: #b2b2b2;
  font-weight: bold;
  text-shadow: 2px 2px 8px #0f0f0f;
  line-height: 1.5;
}

@media only screen and (max-width: 1000px) {
  .HeaderV2-title-container {
    width: 60%;
    bottom: 125vh;
  }
}

@media only screen and (max-width: 750px) {
  .HeaderV2-title-container {
    width: 75%;
    bottom: 130vh;
    padding: 0.5rem;
  }
  .HeaderV2-title {
    font-size: 30px;
  }
  .HeaderV2-subtitle {
    width: 90%;
    font-size: 16px;
    margin: 0 auto 15px;
  }
  .byline {
    font-size: 12px;
  }
}
