.Header-container,
.full-height-div {
  height: 100vh;
}

.left-image-container,
.middle-image-container,
.right-image-container {
  background-size: 100% 100%;
}

.left-image-container {
  background-image: url('../../images/action-asia-blur-1455989.jpg');
}

.middle-image-container {
  background-image: url('../../images/architecture-asia-bar-1455993.jpg');
}

.right-image-container {
  background-image: url('../../images/art-asia-balloon-1455962.jpg');
}

.Header-title-container {
  position: absolute;
  bottom: 22.5vh;
  left: 0;
  right: 0;
  width: 65%;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  border-radius: 15px;
}

.Header-title {
  font-size: 5.5vw;
  font-weight: 700;
  text-shadow: 2px 2px 8px #0f0f0f;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: italic;
  color: ghostwhite;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.Header-subtitle {
  font-size: 2vw;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: gainsboro;
  width: 80%;
  margin: 0 auto;
  padding-top: 1.3rem;
  border-top: 8px solid dimgrey;
}
