@import url('https://fonts.googleapis.com/css?family=Roboto:400,700i');
@font-face {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto:400,700i');
}

.Header-container,
.full-height-div {
  height: 100vh;
}

.left-image-container,
.middle-image-container,
.right-image-container {
  background-size: 100% 100%;
  opacity: 0.95;
}

.left-image-container {
  background-image: url('../../images/action-asia-blur-1455989.jpg');
}

.middle-image-container {
  background-image: url('../../images/architecture-asia-bar-1455993.jpg');
}

.right-image-container {
  background-image: url('../../images/art-asia-balloon-1455962.jpg');
}

.Header-title {
  position: absolute;
  color: white;
  bottom: 22.5vh;
  left: 0;
  right: 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.Header-title h1 {
  font-size: 7.5vw;
  font-weight: 700;
  text-shadow: 2px 2px 8px #0f0f0f;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: italic;
}
