.BubbleGraph-sequence-container {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: blue;
}

.BubbleGraph-container {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.fixed {
  position: sticky;
  top: 0px;

  /* For Fixed */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.testing {
  border-top: 1px dashed red;
  display: block;
  width: 100%;
  height: 1px;
}

.foo {
  height: 100vh;
  background-color: blue;
}
