.BubbleGraph-sequence-container {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: blue;
}

.BubbleGraph-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: blue;
}

.BubbleGraph-container .VictoryChart {
  width: 80vw;
  margin: 0 auto;
}

.BubbleGraph-sticky {
  position: sticky;
  top: 0px;
}

.BubbleGraph-sticky:before,
.BubbleGraph-sticky:after {
  content: '';
  display: table;
}

.BubbleGraph-waypoint-buffer {
  height: 100vh;
  background-color: blue;
}
