.ChoroplethContainer-sequence-container {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #606060;
}

.ChoroplethContainer-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #606060;
  position: relative;
  padding: 25px;
}

.ChoroplethContainer-sticky {
  position: sticky;
  top: 0px;
}

.ChoroplethContainer-sticky:before,
.ChoroplethContainer-sticky:after {
  content: '';
  display: table;
}

.ChoroplethContainer-waypoint-buffer {
  height: 120vh;
  background-color: #606060;
}

.sub-nation:hover {
  opacity: 0.5;
  stroke: goldenrod;
  stroke-width: 3px;
  transition: opacity stroke stroke-width 0.2s !important;
}

.Choropleth-tooltip {
  opacity: 0;
  position: absolute;
  padding: 5px;
  font-size: 0.9em;
  border-radius: 4px;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.3);
  color: black;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: whitesmoke;
}

.Choropleth-tooltip-header {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.1px;
}

.Choropleth-tooltip-underline {
  margin: 0;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.Choropleth-tooltip-data-container {
  display: block;
  text-align: center;
}

.Choropleth-tooltip-data {
  padding-top: 5px;
  display: block;
  font-size: 2.2rem;
  color: goldenrod;
  font-weight: 900;
}

.Choropleth-legend-container {
  position: absolute;
  bottom: 3vw;
  left: 3vw;
  width: 11.5vw;
  height: 30vmin;
  background-color: #3c3c3c;
  border-radius: 5px;
  padding: 0.7vw;
  font-size: 1.1vmax;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.Choropleth-legend-container .swatch,
.Choropleth-legend-container .cell {
  width: 1vmax;
  height: 1vmax;
}

.Choropleth-legend-container,
.Choropleth-legend-container .Choropleth-legend {
  transition: fill 0.2s;
}

.Choropleth-legend .label {
  fill: #cbcbcb;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 720px) {
  .Choropleth-tooltip-data {
    font-size: 1.5rem;
  }
  .Choropleth-tooltip {
    font-size: 0.6rem;
  }
}
