.ChoroplethContainer-sequence-container {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #606060;
}

.ChoroplethContainer-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #606060;
  position: relative;
  padding: 25px;
}

.ChoroplethContainer-sticky {
  position: sticky;
  top: 0px;
}

.ChoroplethContainer-sticky:before,
.ChoroplethContainer-sticky:after {
  content: '';
  display: table;
}

.ChoroplethContainer-waypoint-buffer {
  height: 120vh;
  background-color: #606060;
}

.sub-nation:hover {
  fill: orange;
  transition: fill 0s !important;
}

.Choropleth-tooltip {
  opacity: 0;
  position: absolute;
  padding: 5px;
  font-size: 0.9em;
  border-radius: 4px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: black;
}
