.ChoroplethContainer-sequence-container {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #606060;
}

.ChoroplethContainer-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #606060;
  position: relative;
  padding: 25px;
}

.ChoroplethContainer-sticky {
  position: sticky;
  top: 0px;
}

.ChoroplethContainer-sticky:before,
.ChoroplethContainer-sticky:after {
  content: '';
  display: table;
}

.ChoroplethContainer-waypoint-buffer {
  height: 120vh;
  background-color: #606060;
}

/* .sub-nation:hover {
  opacity: 0.5;
  z-index: 100;
  stroke: orange;
  stroke-width: 4px;
  transition: opacity stroke stroke-width 0.2s !important; 
} */

.sub-nation:hover {
  opacity: 0.5;
  stroke: goldenrod;
  stroke-width: 3px;
  transition: opacity stroke stroke-width 0.2s !important;
}

.Choropleth-tooltip {
  opacity: 0;
  position: absolute;
  padding: 5px;
  font-size: 0.9em;
  border-radius: 4px;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.3);
  color: black;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: whitesmoke;
}

.Choropleth-tooltip-header {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.1px;
}

.Choropleth-tooltip-underline {
  margin: 0;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.Choropleth-tooltip-data-container {
  display: block;
  text-align: center;
}

.Choropleth-tooltip-data {
  padding-top: 5px;
  display: block;
  font-size: 2.2rem;
  color: goldenrod;
  font-weight: 900;
}

.Choropleth-legend .label {
  fill: #191919;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
