.BarGraphContainer-sequence-container {
  -webkit-font-smoothing: antialiased;
  padding: 150px 0 100px;
  background-color: lavenderblush;
}

.BarGraphContainer-container {
  width: 75%;
  margin: 0 auto;
}

.BarGraphContainer-header-text {
  font-family: 'Cormorant', serif;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.BarGraphContainer-header-text-change {
  font-family: 'Cormorant', serif;
  margin-bottom: 0;
  font-size: 2rem;
}

.BarGraphContainer-fadeOut {
  opacity: 0;
  animation: fadeout 0.3s linear;
}

.BarGraphContainer-fadeIn {
  opacity: 1;
  animation: fadein 0.5s linear;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
