.BarGraphContainer-sequence-container {
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  background-color: lightgrey;
}

.BarGraphContainer-container {
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

.BarGraphContainer-sticky {
  position: sticky;
  top: 0px;
}

.BarGraphContainer-sticky:before,
.BarGraphContainer-sticky:after {
  content: '';
  display: table;
}

.BarGraphContainer-waypoint-buffer {
  height: 150vh;
  background-color: lightgrey;
}

.BarGraphContainer-header-text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}
