.BarGraphContainer-sequence-container {
  -webkit-font-smoothing: antialiased;
  padding: 75px 0 100px;
  background-color:white;
}

.BarGraphContainer-container {
  width: 75%;
  margin: 0 auto;
}

.BarGraphContainer-header-text {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
}

.BarGraphContainer-header-text-change {
  margin-bottom: 0;
  font-size: 2rem;
  height: 2rem;
}

.BarGraphContainer-fadeOut {
  opacity: 0;
  animation: fadeout 0.3s linear;
}

.BarGraphContainer-fadeIn {
  opacity: 1;
  animation: fadein 0.5s linear;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
