@import url('https://fonts.googleapis.com/css?family=Roboto:400,700i');
@font-face {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto:400,700i');
}

.StackedAreaGraphContainer-sequence-container {
  -webkit-font-smoothing: antialiased;
  height: 85vh;
  padding-top: 25px;
}

.StackedAreaGraphContainer-container {
  height: 100%;
}

.StackedAreaGraphContainer-sticky {
  position: sticky;
  top: 0px;
}

.StackedAreaGraphContainer-header-text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}
