.StackedAreaGraphContainer-sequence-container {
  -webkit-font-smoothing: antialiased;
  height: 85vh;
  padding-top: 25px;
  background-color: lavenderblush;
}

.StackedAreaGraphContainer-container {
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

.StackedAreaGraphContainer-header-text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}

.legend-container {
  position: relative;
  top: -100px;
}
