.ChoroplethV2Eap-sequence-container {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #606060;
}

.ChoroplethV2Eap-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #606060;
  text-align: center;
}

.ChoroplethV2Eap-container svg {
  height: 100%;
  width: 80vw;
  background-color: #606060;
  display: block;
  margin: 0 auto;
}

path.sub-nation {
  transition: fill 0.4s ease;
}

@media only screen and (max-width: 1150px) {
  .ChoroplethV2Eap-container svg {
    width: 95vw;
  }
}
