.ChoroplethV2Eap-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #606060;
  text-align: center;
}

.ChoroplethV2Eap-container svg {
  height: 100%;
  background-color: #606060;
  display: block;
  margin: 0 auto;
}

path.sub-nation {
  transition: fill 0.4s ease;
}
