.ChoroplethV2Eap-container {
  height: 80vh;
  width: 80vw;
  display: flex;
  align-items: center;
  background-color: #606060;
  text-align: center;
  left: -15%;
  transform: translateX(15%);
}

.ChoroplethV2Eap-container svg {
  height: 100%;
  background-color: #606060;
  display: block;
  margin: 0 auto;
}

path.sub-nation {
  transition: fill 0.4s ease;
}
