/* Initial reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* BEGIN Define base theme */

section {
  min-height: 100px;
  width: 100%;
  padding: 5rem 0;
}

h1 {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
}

h2 {
  font-family: 'Cormorant', serif;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  line-height: 70px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
  font-family: 'Palatino', serif;
  font-size: 20px;
  line-height: 1.6;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}

sub {
  display: block;
  margin:0 auto;
  width: 80%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.text-block {
  max-width: 700px;
  width: 100%;
  /* Since the layout usually is centered, we'll leave that as default */
  margin: 3rem auto;
}

footer {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  /* TODO: Change once we have mq */
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

/* Dark Theme */

/* Keep this separate from the section in case
we want to apply dark to a child element directly */
.theme--dark {
  background: #111;
}

section.theme--dark, footer.theme--dark {
  background: linear-gradient(120deg, #333, #000, #333);
}

.theme--dark h1, 
.theme--dark h2, 
.theme--dark h3, 
.theme--dark h4, 
.theme--dark p {
  color: whitesmoke;
  opacity: 0.85;
}

.theme--dark a {
  color: #007bff;
}

/* Light Theme */
.theme--light {
  background: white;
}
/* 
section.theme--light, footer.theme--light {
  background: linear-gradient(120deg, #000, #000, #333);
} */

.theme--light h1, 
.theme--light h2, 
.theme--light h3, 
.theme--light h4, 
.theme--light p {
  color: #111;
}

/* Dot navigation */
.sidebar {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 100vh;
  position: fixed;
  right: 0;
}

.sidebar .navigation-dot {
  display: block;
  margin: 8px 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid black;
}

.navigation-dot.active {
  background: black;
}

/* Per section overrides */

#section-0 {
  /* The min height is to avoid an automatic scrollTop when the hero loads */
  min-height: 100vh;
  padding: 0;
  position: relative;
}

#section-0 img {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
}

.title-card__container-outer {
  position: relative;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 25vh;
  transform: translateY(-100vh);
}

.title-card__container-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  height: auto;
  color: white;
  border-radius: 10px;
  padding: 50px 0;
}

.title-card__container-inner p {
  margin: 20px;
  width: 50%;
  text-align: center;
}

.chart {
  height: 400px;
  width: 400px;
  background: green;
}

.chart.hidden {
  background: yellow;
}

.sticky-scroll__container {
  position: relative;
  display: flex;
  padding: 1rem;
}

.scroll__graphic {
  position: sticky;
  width: 100%;
  height: 50vh;
  margin: 0;
  top: 25vh;
  left: 0;
}

.scroll__graphic.is-fixed {
  position: fixed;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
}

.scroll__graphic .chart {
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scroll__text {
  padding: 0 1rem;
  /* We want to make sure the first element is below the center of the graphic */
  padding-top: 25vh;
  max-width: 30rem;
}

.scroll__text p {
  margin: 20px 0;
}

.step {
  opacity: 0;
  padding: 1rem;
}

.step.active {
  opacity: 1;
}
